* {
    box-sizing: border-box;

}

.header {
    display: flex;
    padding-left: 10px;
    background-color: white;


}

.navcontainer {
    display: flex;
    justify-content: flex-start;
    max-height: 80px;
}

.planspricing {
    display: flex;
    margin-top: 40px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-evenly;
    color: #4C525A;

}

.containertoogle{
    display: flex;

   
}

.monthlyyearly {
    font-size: 0.7em;
}

#yearlyspan {
    color: #868997;
}

#h1planspricing {
    color: #4C525A;
}

.toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 10px;
    padding: 3px;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
 }
 .toggle-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
 }
 .toggle-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 12px;
    background: #01B289;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 3px
    rgba(0, 0, 0, 0.15);
 }
 .toggle-label:before,
 .toggle-label:after {
    position: absolute;
    top: 50%;
    color: black;
    margin-top: -.5em;
    line-height: 1;
 }
 .toggle-label:before {
    content: attr(data-off);
    right: 11px;
    color: #fff;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
 }
 .toggle-label:after {
    content: attr(data-on);
    left: 11px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
 }
 .toggle-input:checked~.toggle-label {
    background: green;
 }
 .toggle-input:checked~.toggle-label:before {
    opacity: 0;
 }
 .toggle-input:checked~.toggle-label:after {
    opacity: 1;
 }
 .toggle-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width:10px;
    height: 5px;
    background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
    border-radius: 50%;
 }
 .toggle-handle:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 10px;
    height: 10px;
 }
 .toggle-input:checked~.toggle-handle {
    left: 64px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
 }

 /* Transition*/
 .toggle-label,
 .toggle-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
 }



ul {
    display: flex;
    width: 400px;
    gap: 15px;
    list-style: none;
    color: gray;
    text-decoration: none !important;

}

.list-items {
    text-decoration: none !important;
    color: gray;
    text-decoration: none;
}

.menuitems {

    margin-left: 80px;
    list-style: none;
    color: gray;

}

#login {
    border-radius: 5px;
    border: solid #01B289;
    color: #01B289;
    background-color: white;
    width: 70px;
    height: 35px;
    font-weight: 500px;
}

#startfree {

    border-radius: 5px;
    border: solid #01B289;
    background-color: #01B289;
    width: 100px;
    height: 35px;
    color: white;
    font-weight: 500;
}

.login {
    margin-left: 70px;
    display: flex;
    gap: 5px;
    align-items: center;

}

.items-menu-link {

    text-decoration: none;
    color: #4C4D5F;
}

.faq-section {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    align-items: start;
    margin-left: 150px;
}

.h2faq {
    color: #01B289;
    align-self: center;

}

.questions {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;

}

.active,
.questions:hover {
    background-color: #ccc;

}

.answer {
    display: none;
}

.dropdownfaq {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

body {
    position: relative;
}

.backshape {
    position: absolute;
    left: 0;
    bottom: auto;
    z-index: -1;
    display: block;
    width: 56vw;
    height: 56vw;
    border-radius: 6.6vw;
    background-color: #f2faff;
    -webkit-transform: rotate(-23deg);
    -ms-transform: rotate(-23deg);
    transform: rotate(-23deg);
    top: -88%;
    right: -23%;
    width: 90%;
    height: 120%;
}

.maincontainer {
    width: 100%;
    max-width: 70rem;
    margin-right: auto;
    margin-left: auto;
}

.pricing-contatiner {

    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 140px;
    padding: 0 2.5rem 0 2.5rem;

}

.planDiv {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 32%;
    padding: 6% 4%;
    flex-direction: column;
    border: 0.3px solid rgba(2, 4, 69, .15);
    border-radius: 4px;
    background-color: #fbfcff;
    box-shadow: 0 0 68px 0 rgba(2, 4, 69, .08);
}

.price {
    display: flex;
    align-items: flex-end;
    font-size: 62px;
    line-height: 72px;
    font-weight: 600;
    padding-top: 10px;
}

.price-box {
    width: 100%;
    margin-top: 20px;
    border-bottom: 2px solid #01b289;
}

.heading {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.625rem;
    line-height: 1.4;
    font-weight: 600;

}

.currency-symbol {
    position: relative;
    top: 10px;
    margin-right: 10px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    font-size: 30px;
    line-height: 28px;
    font-weight: 400;
}

.planFeatures {
    margin-bottom: 25px;
    padding-top: 40px;
}

.tick-div {

    display: flex;
    padding-bottom: 18px;
    align-items: center;
    color: #4c4d5f;
    font-size: 16px;
    line-height: 23px
}

.tick-div img {
    border: 0;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    margin: 0 0.625rem 0 0;
}

.month {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.625rem;
    line-height: 1.4;
    font-weight: 400;
    text-transform: uppercase;
}

.planbtn {
    width: 100%;
    padding: 22px 25px;
    border-radius: 4px;
    background-color: #00b289;
    font-weight: 700;
    text-align: center;
    letter-spacing: .7px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: auto;
    color: #fff;
    border: none;

}

.popular-tag {
    position: absolute;
    left: auto;
    top: 50px;
    right: -109px;
    bottom: auto;
    width: 360px;
    padding: 11px 100px;
    background-color: #01b289;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}